[libdefaults]
   default_realm = upper(${fqdn})
   dns_lookup_realm = false
   dns_lookup_kdc = false

[realms]
    upper(${fqdn}) = {
        kdc     =   ${bastion_private_ip}
        admin_server = ${bastion_private_ip}
        default_domain = upper(${fqdn})
    }

[domain_realm]
    ${fqdn} = upper(${fqdn})
    .${fqdn} =  upper(${fqdn})
    ${short_name}.${fqdn} = upper(${fqdn})
    ${short_name} = upper(${fqdn})