apiVersion: provisioning.cattle.io/v1
kind: Cluster
metadata:
  name: ${name}
  namespace: ${fleet_workspace}
spec:
  kubernetesVersion: "${kubernetes_version}"
  rkeConfig:
    chartValues:
      rke2-calico: {}
    etcd:
      snapshotRetention: 5
      snapshotScheduleCron: 0 */5 * * *
    machineGlobalConfig:
      cni: ${cni}
      disable-kube-proxy: false
      etcd-expose-metrics: false
    machineSelectorConfig:
      - config:
          protect-kernel-defaults: false